# installer.cfg
# Lines starting with # are comments
# FORMAT:
# copy=<romfs_src>:<sdmc_dst>

# Single file
copy=romfs:/mupen64plus_next_libretro_libnx.nro:sdmc:/retroarch/cores/mupen64plus_next_libretro_libnx.nro
copy=romfs:/portal.z64:sdmc:/roms/N64/portal.z64

# Full directory — trailing slash on both src and dst
#copy=romfs:/Photos/:sdmc:/Photos/